<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncu.imagesystem.mapper.StudyDepartmentRelationMapper">

    <insert id="saveOrUpdateBatch" parameterType="java.util.List">
        insert into study_department_relation
        (study_id, department_id, department_name, department_desc)
        VALUES
        <foreach collection="list" item="item" separator=",">
            ( #{item.studyId},#{item.departmentId},#{item.departmentName},#{item.departmentDesc} )
        </foreach>
        ON DUPLICATE KEY UPDATE department_name = VALUES(department_name), department_desc = VALUES(department_desc)
    </insert>
</mapper>